DISCORD_CLIENT_ID=YOUR_DISCORD_CLIENT_ID

# Only necessary if using Jellyfin, not needed for AudioBookShelf
JELLYFIN_SERVER=https://jellyfin.example.com/Sessions
JELLYFIN_API_KEY=YOUR_JELLYFIN_API_KEY
JELLYFIN_USER_ID=YOUR_JELLYFIN_USER_ID
TMDB_API_KEY=YOUR_TMDB_API_KEY

# optional, for jellyfin only:
JELLYFIN_IGNORE_LIBRARIES=Library1,Library2,Library3
DEFAULT_JELLYFIN_SERVER_NAME= Custom Server Name

# Only necessary if using AudioBookShelf, not needed for Jellyfin
ABS_SERVER=https://abs.example.com
ABS_API_TOKEN=YOUR_ABS_API_TOKEN
# optional, for audiobookshelf only:
USE_CHAPTER_TITLE=true
DEFAULT_AUDIOBOOKSHELF_SERVER_NAME= Custom Server Name

# optional, for gateway connection only:
DISCORD_TOKEN=YOUR_DISCORD_TOKEN

# set to true to use gateway connection instead of rpc, requires discord user token and client id to be set
# defaults to false.
USE_GATEWAY=false